<h2>Library</h2>
<label>Root music folder:
  <input #rootDir type="text" (keydown.enter)="handleSubmit()" [@waitingDone]="isWaiting ? 'waiting' : 'done'"/>
</label>
<ul>
  <li class="file" (click)="goToDir(null, 'up')" *ngIf="this.trackService.dirId !== this.trackService.rootDirId">
    <img src="/assets/arrow.svg" alt="Go up"/>
    Go up
  </li>
  <li class="file" *ngFor="let file of currentDirContents"
    (click)="file.mimeType.slice(0, 5) === 'audio' ? addToQueue(file) : goToDir(file, 'down')">
    <img src="/assets/cassette.svg" *ngIf="file.mimeType.slice(0, 5) === 'audio'" alt="track" />
    <img src="/assets/folder.svg" *ngIf="file.mimeType === 'application/vnd.google-apps.folder'" alt="directory">
    <p>{{file.title}}</p>
  </li>
</ul>