* {
  box-sizing: border-box;
  margin: 0px;
}

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  overflow-y: scroll;
  height: 450px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgray;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

p {
  margin: 0px;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

@keyframes emphasis {
  33% { transform: scale(1) }
  66% { transform: scale(1.2) }
  100% { transform: scale(1) }
}

input {
  animation: emphasis 1s 5;
  border-radius: 5px;
  width: 100%;
}

