* {
  box-sizing: border-box;
  margin: 0px;
}

h2 {
  text-align: center;
  background-color: coral;
  border-top-left-radius: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: white;
  border-top-right-radius: 5px;
  font-style: italic;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  overflow-y: scroll;
  height: 450px;
  padding: 10px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgray;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

p {
  margin: 0px;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

input {
  border-radius: 5px;
  width: 100%;
  border: none;
  font-size: 1.3em;
  padding: 5px;
}

#circle {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: peachpuff;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

#add-to-queue {
  width: 50px;
  height: 50px;
}

