#flex-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

h1 {
  z-index: 2;
  text-align: center;
  color: white;
  font-size: 64px;
  font-weight: bolder;
  margin-bottom: 30px;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#authorize_button {
  background-color: coral;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 2em;
  z-index: 6;
  padding: 10px;
}

.gradient-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  margin: 0px;
  background: linear-gradient(45deg,#006ba6,#0496ff,#ffbc42,#d81159,#8f2d56);
  background-size: 500% 500%;
  animation: gradient-animation 60s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}