#app-flex-container {
  display: flex;
  flex-direction: row;
}

.component {
  background-color: white;
  border-radius: 5px;
  opacity: 90%;
}

app-current-dir {
  width: 300px;
}

app-player-view {
  display: flex;  
  flex-direction: column;
  align-items: center;
  width: 300px;
  justify-content: space-around;
}

app-playback-queue {
  width: 300px;
}

* {
  margin: 10px;
}

/* video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  margin: 0px;
} */

.gradient-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  margin: 0px;
  background: linear-gradient(45deg,#006ba6,#0496ff,#ffbc42,#d81159,#8f2d56);
  background-size: 500% 500%;
  animation: gradient-animation 60s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
